<!DOCTYPE HTML>
<html>
	<head>
		<title>BengkRad WiFi Auth</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="icon" type="image/png" href="favicon.png">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="#">Bengkrad WiFi Auth</a>
			</header>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<img src="../static/image/bengkradPNG.png" alt="Logo" height="125" width="125">
						<br>
						<br>
						<h2>DEVICE EXCEEDED</h2>
						Please logout before add another device
					</header>
			</section>
		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>
