<!DOCTYPE HTML>
<html>
	<head>
		<title>BengkRad WiFi Auth</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="icon" type="image/png" href="favicon.png">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="#">Bengkrad WiFi Auth</a>
			</header>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<img src="../static/image/bengkradPNG.png" alt="Logo" height="125" width="125">
						<br>
						<br>
						<h2>YOU'VE LOGGED IN</h2>
						Username :
						<label for="usrname" id="usr"></label>
						<script>
							var usr = '{{usrname}}';
							document.getElementById('usr').innerHTML = usr;
						</script>
						IP Address :
						<label for="ip" id="IP"></label>
						<script>
							var IP = '{{ip}}';
							document.getElementById('IP').innerHTML = IP;
						</script>
						Time :
						<label for="time" id="time"></label><br />
						<script>
							var time = '{{timeS}}';
							document.getElementById('time').innerHTML = time;
						</script>
              <div class="col-4 col-12-small">
									<a href="/logout" class="button">LOGOUT</a>
            </div>
            </div>
					</header>
			</section>
		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>
